select.dropdown {
  color: #fff;
  border: 2px solid #fff;
  width: 140px;
  height: 46px;
  font-size: 14px;
  padding: 0 10px;
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  background: url('../images/select.svg') right center no-repeat;
  background-size: 15px;
  background-position: right 10px center;
}

.search {
  width: 100%;
  padding: 12px 0;
  outline: none;
  border: 0;
  border-bottom: 2px solid rgba(216, 216, 216, .18);
  border-radius: 0 !important;
  color: #fff;
  font-size: 18px;
  background: transparent;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: 1px solid #B6BCC4;
  color: #5f5f5f;
  box-sizing: border-box;
  font-family: Gilroy !important;

  &::placeholder {
    color: #727272;
    font-weight: 500;
  }

  &:-ms-input-placeholder {
    color: #727272;
    font-weight: 500;
  }

  &::-ms-input-placeholder {
    color: #727272;
    font-weight: 500;
  }

  &.small {
    padding: 7px 15px;
  }
}

textarea {
  width: 100%;
  padding: 0 20px;
  font-size: 14px;
  background: transparent;
  outline: none;
  border: 1px solid #B6BCC4;
  color: #5f5f5f;
  box-sizing: border-box;
  font-family: Gilroy !important;
}