body {
    margin: 0;
    padding: 0;
    font-family: Gilroy !important;
    background: #F2F5FA;
}

.container {
    width: 1140px;
    margin: auto;

    @media screen and (max-width : 1200px) {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

.page-wrap {
}

.mobile-hidden {
    @media screen and (max-width : 1023px) {
        display: none !important;
    }
}

.desktop-hidden {
    @media screen and (min-width : 1024px) {
        display: none !important;
    }
}