.contact {

  &-main {
    margin: 50px 0 60px 0;
  }

  &-columns {
    display: flex;

    @media screen and (max-width : 1150px) {
      flex-direction: column;
    }
  }

  &-left {
    min-width: 760px;
    width: 760px;

    @media screen and (max-width : 1024px) {
      width: 100%;
      min-width: 100%;
    }

    .comment-form {

      &-col {
        margin: 0 0 20px 0;
        gap: 20px;
      }

      &-label {
        width: 100%;
        margin: 0;
      }
    }
  }

  &-right {
    margin-left: 30px;

    @media screen and (max-width : 1150px) {
      margin: 0;
    }
  }
}