$base-font-size: null;
$base-font-family: BMWTypeNextPro, helvetica, arial, sans-serif;
$base-line-height: null;
$base-line-height: null;
$base-font-icon: null;
$base-line-height: 1.25;

$color-primary: #ffcb00;
$color-secondary: #02459d;
$color-tertiary: #242a32;
$color-cancel: null;
$color-error: null;
$color-text: #4d4d4d;
$color-light-gray: #eceff1;
$color-gray: #a9b0b8;
