
%icon-arrow-down {
    content: "\EA01";
}

.icon-arrow-down {
    &::before {
        @extend %icon-arrow-down;
    }
}


%icon-arrow {
    content: "\EA02";
}

.icon-arrow {
    &::before {
        @extend %icon-arrow;
    }
}


%icon-close {
    content: "\EA03";
}

.icon-close {
    &::before {
        @extend %icon-close;
    }
}


%icon-facebook-circle {
    content: "\EA04";
}

.icon-facebook-circle {
    &::before {
        @extend %icon-facebook-circle;
    }
}


%icon-facebook {
    content: "\EA05";
}

.icon-facebook {
    &::before {
        @extend %icon-facebook;
    }
}


%icon-instagram-circle {
    content: "\EA06";
}

.icon-instagram-circle {
    &::before {
        @extend %icon-instagram-circle;
    }
}


%icon-instagram {
    content: "\EA07";
}

.icon-instagram {
    &::before {
        @extend %icon-instagram;
    }
}


%icon-menu {
    content: "\EA08";
}

.icon-menu {
    &::before {
        @extend %icon-menu;
    }
}


%icon-twitter-circle {
    content: "\EA09";
}

.icon-twitter-circle {
    &::before {
        @extend %icon-twitter-circle;
    }
}


%icon-twitter {
    content: "\EA0A";
}

.icon-twitter {
    &::before {
        @extend %icon-twitter;
    }
}


%icon-youtube {
    content: "\EA0B";
}

.icon-youtube {
    &::before {
        @extend %icon-youtube;
    }
}

